@use '../../../../styles/variables';

.word-letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .word-letter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    $_size: 2rem;
    width: $_size;
    height: $_size;
    min-width: fit-content;
    padding: variables.$gap-extra-small;
    font-weight: bold;
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
    box-shadow: variables.$button-like-box-shadow;
    margin: variables.$gap-extra-small;
  }

  .word-letter--selected {
    background-color: variables.$primary-color;
    color: variables.$secondary-color;
  }
}
