<div class="card">
  <h1 class="card__heading">{{'the hangman' | titlecase}}</h1>

  <div class="card__description">
    <p class="card__description-item">Let's play <span class="card__description-item--highlight">Hangman!</span></p>
    <p class="card__description-item">How many letters do you want in your word?</p>
  </div>

  <app-word-letters [(numberOfLetters)]="numberOfLetters" [letterNumbers]="letterNumbers"></app-word-letters>

  <div class="card__bottom-actions">
    <button (click)="onStartNewGame()"
            class="card__bottom-action"
            color="primary"
            mat-raised-button>
      {{'let\'s play' | uppercase}}
    </button>
  </div>
</div>
