<div class="card">
  <h1 class="heading">{{'the hangman' | titlecase}}</h1>

  <div class="description">
    <p class="description__item">Let's play <span class="description__item--highlight">Hangman!</span></p>
    <p class="description__item">How many letters do you want in your word?</p>
  </div>

  <div class="choose-letters-container">
    <div (click)="setNumberOfLetters(letterNumber)"
         (keydown.enter)="setNumberOfLetters(letterNumber)"
         *ngFor="let letterNumber of letterNumbers"
         [class.choose-letters-button--selected]="selectedNumber === letterNumber"
         class="choose-letters-button"
         role="button"
         tabindex="0">
      {{letterNumber}}
    </div>
    <div (click)="setNumberOfLetters(0)"
         (keydown.enter)="setNumberOfLetters(0)"
         [class.choose-letters-button--selected]="selectedNumber === 0"
         class="choose-letters-button"
         role="button"
         tabindex="0">
      {{'random' | titlecase}}
    </div>
  </div>

  <div>
    <button (click)="onStartNewGame()"
            color="primary"
            mat-raised-button>
      {{'let\'s play' | uppercase}}
    </button>
  </div>
</div>
