.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: thin solid gray;
  border-radius: 1rem;
  padding: 3rem;

  .heading {
    margin-top: 0;
    text-align: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .description__item {
      margin: 0;
      text-align: center;
    }

    .description__item--highlight {
      font-weight: bold;
    }
  }

  .choose-letters-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .choose-letters-button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      min-width: fit-content;
      padding: 0.25rem;
      font-weight: bold;
      color: black;
      box-shadow: 0 0 0.1rem 0 gray;
      margin: 0.25rem;
    }

    .choose-letters-button--selected {
      background-color: black;
      color: white
    }
  }

  .got-it-button {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
