@use './variables.scss';
@use './breakpoints.scss';

.card {
  width: fit-content;
  border: thin solid variables.$primary-color;
  border-radius: 1rem;
  background-color: variables.$secondary-color;

  .card__header {
    padding: variables.$gap-medium;
  }

  .card__body {
    padding: variables.$gap-extra-large;

    @media screen and (max-width: breakpoints.$md) {
      padding: variables.$gap-medium
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:has(.card__header) {
    .card__body {
      padding-top: 0;
    }
  }

  .card__hint {
    margin: variables.$gap-small 0;
    font-size: small;
  }

  .card__heading {
    margin-top: 0;
    text-align: center;
  }

  .card__description {
    margin: variables.$gap-medium 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card__description-item {
      margin: variables.$gap-extra-small 0;
      text-align: center;

      &--highlight {
        font-weight: bold;
      }
    }
  }

  .card__bottom-actions {
    margin-top: variables.$gap-large;

    .card__bottom-action:not(:last-of-type) {
      margin: variables.$gap-small variables.$gap-small variables.$gap-small 0;
    }
  }
}
