$font-family: Roboto, 'Helvetica Neue', sans-serif;

$primary-color: black;
$secondary-color: white;
$success-color: green;
$error-color: red;
$secondary-background-color: #000000d9;

$gap-extra-small: 0.25rem;
$gap-small: 0.5rem;
$gap-medium: 1rem;
$gap-large: 2rem;
$gap-extra-large: 3rem;

$button-like-box-shadow: 0 0 0.15rem 0 $secondary-background-color;
