$font-family: Roboto, 'Helvetica Neue', sans-serif;

$button-like-box-shadow: 0 0 0.15rem 0 gray;

$primary-color: black;
$secondary-color: white;
$success-color: green;
$error-color: red;

$gap-extra-small: 0.25rem;
$gap-small: 0.5rem;
$gap-medium: 1rem;
$gap-large: 2rem;
$gap-extra-large: 3rem;
