.alphabet {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3rem;
  width: fit-content;

  .alphabet__letter {
    $_size: 1.5rem;
    width: $_size;
    height: $_size;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.15rem 0 gray;
  }

  .alphabet__letter--disabled {
    opacity: 0.3;
    cursor: default;
  }

  &--disabled .alphabet__letter {
    cursor: default;
  }
}
