<p *ngIf="status === GameStatus.Won || status === GameStatus.Lost"
   [ngClass]="{
   'status': true,
   'status--won': status === GameStatus.Won,
   'status--lost': status === GameStatus.Lost
   }">
  <mat-icon [ngSwitch]="status" class="status__icon">
    <ng-container *ngSwitchCase="GameStatus.Lost">
      sentiment_very_dissatisfied
    </ng-container>
    <ng-container *ngSwitchCase="GameStatus.Won">
      sentiment_satisfied
    </ng-container>
  </mat-icon>
  <span class="status__text">{{status | appGameStatus}}</span>
</p>
