<p [ngClass]="{
   'game-status': true,
   'game-status--won': status === GameStatus.Won,
   'game-status--lost': status === GameStatus.Lost
   }">
  <mat-icon [ngSwitch]="status"
            class="game-status__icon">
    <ng-container
      *ngSwitchCase="GameStatus.Lost">
      sentiment_very_dissatisfied
    </ng-container>
    <ng-container
      *ngSwitchCase="GameStatus.Won">
      sentiment_satisfied
    </ng-container>
  </mat-icon>
  <span class="game-status__text">
    {{status | appGameStatus}}
  </span>
</p>
