@use '../../../../styles/card';
@use '../../../../styles/variables';
@use '../../../../styles/breakpoints';

.card {
  .card__body {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .card__heading {
    text-align: unset;
  }

  .card__header {
    display: flex;
    justify-content: flex-end;
  }

  .card__left {
    padding-right: variables.$gap-large;

    @media screen and (max-width: breakpoints.$md) {
      display: none;
    }
  }

  .card__right {
    .hangman {
      display: none;

      @media screen and (max-width: breakpoints.$md) {
        display: block;
      }
    }
  }

  .game-status {
    margin-bottom: variables.$gap-large;

    .game-status__hint {
      margin-bottom: variables.$gap-extra-small;

      &:after {
        content: '\00a0';
      }
    }
  }
}
