@use '../../../../styles/card';
@use '../../../../styles/variables';

.card {
  .card__body {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .card__heading {
    text-align: unset;
  }

  .card__header {
    display: flex;
    justify-content: end;
  }

  .card__left {
    padding-right: variables.$gap-large;
  }

  .game-status {
    margin-bottom: variables.$gap-large;

    .game-status__hint {
      margin-bottom: variables.$gap-extra-small;

      &:after {
        content: '\00a0';
      }
    }
  }
}
