<svg viewBox="0 0 10 12">
  <path *ngIf="numberOfTries > 0 || numberOfTries === -1" d="M1,11 h8"/>
  <path *ngIf="numberOfTries > 1 || numberOfTries === -1" d="M9,11 v-10"/>
  <path *ngIf="numberOfTries > 2 || numberOfTries === -1" d="M9,1 h-4"/>
  <path *ngIf="numberOfTries > 3 || numberOfTries === -1" d="M5,1 v2"/>
  <circle *ngIf="numberOfTries > 4 || numberOfTries === -1" cx="5" cy="4" r="1"/>
  <path *ngIf="numberOfTries > 5 || numberOfTries === -1" d="M5,5 v3"/>
  <path *ngIf="numberOfTries > 6 || numberOfTries === -1" d="M5,5 l-2,2"/>
  <path *ngIf="numberOfTries > 7 || numberOfTries === -1" d="M5,5 l2,2"/>
  <path *ngIf="numberOfTries > 8 || numberOfTries === -1" d="M5,8 l-2,2"/>
  <path *ngIf="numberOfTries > 9 || numberOfTries === -1" d="M5,8 l2,2"/>
</svg>
