@use '../../../../styles/variables';

.word {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  grid-gap: variables.$gap-extra-small;

  .word__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    $_size: 1.75rem;
    width: $_size;
    height: $_size;
    border: medium variables.$primary-color solid;
  }
}
