@use '../../../../styles/variables';

.word {
  display: flex;

  .word__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    $_size: 1.75rem;
    width: $_size;
    height: $_size;
    border: medium black solid;

    &:not(:last-of-type) {
      margin-right: variables.$gap-extra-small;
    }
  }
}
