<ng-container *ngIf="status$ | async as status">
  <ng-container *ngIf="displayedWord$ | async as displayedWord">

    <app-game-status [status]="status"></app-game-status>

    <p *ngIf="status === GameStatus.Pending">It's a {{displayedWord.length}} word</p>

    <app-hangman [numberOfTries]="(numberOfBadTries$ | async) || 0" class="hangman"></app-hangman>

    <app-word [word]="(displayedWord$ | async) || []"></app-word>

    <p>Play with a word</p>
    <app-alphabet (update)="updateUsedLetters($event)" [alphabet]="(alphabet$ | async) || []"
                  [isDisabled]="status !== GameStatus.Pending"></app-alphabet>

    <div>
      <button (click)="endGame()"
              *ngIf="status === GameStatus.Pending"
              class="end-game-button"
              mat-flat-button
              tabindex="0">{{'end game' | uppercase}}</button>

      <button (click)="navigateToStartNewGamePage()"
              class="start-new-game-button"
              mat-flat-button
              tabindex="0">{{'start new game' | uppercase}}</button>
    </div>
  </ng-container>
</ng-container>
